/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}
 * @created     : {{TIMESTAMP}}
 */

#include "{{FILEE}}"

{{CLASS}}::{{CLASS}}()
{
    {{CURSOR}}
}

{{CLASS}}::~{{CLASS}}()
{
}
