import TrackerReact from 'meteor/ultimatejs:tracker-react';
import React, {Component}  from 'react'
import PropTypes from 'prop-types'
import { } from 'semantic-ui-react'

export default class {{FILE}} extends TrackerReact(Component) {
  static propTypes = {
  }

  static defaultProps = {
  }

  render() {
    {{CURSOR}}
  }
}

